/* HEADER ZONE */

header {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/wall.png);
}

h1 {
    font-family: "Sometype Mono", monospace;
    font-style: italic;
    font-size: 4rem;
}

/* MAIN ZONE */

body {
    background-image: url(../img/cork.png);
}

.card {
    max-width: 290px;
    position: relative;
    margin: 0 auto;
    transition: transform 0.5s;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1) rotateZ(10deg);
    z-index: 1;
}

.card-title {
    font-family: "Edu TAS Beginner", cursive;
}

img {
    width: 250px;
    aspect-ratio: 1;
    margin: 20px;
}

.pin {
    margin: 0;
    width: 35px;
    position: absolute;
    transform: translate(-50%, 50%);
    top: -25px;
    left: 50%;
}

.my-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.my-modal-content {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
