/* HEADER ZONE */

header {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/wall.png);
}

h1 {
    font-family: "Sometype Mono", monospace;
    font-style: italic;
    font-size: 4rem;
}

/* MAIN ZONE */

body {
    background-image: url(../img/cork.png);
}

.card {
    max-width: 290px;
    position: relative;
    margin: 0 auto;
}

.card-title {
    font-family: "Edu TAS Beginner", cursive;
}

img {
    width: 250px;
    aspect-ratio: 1;
    margin: 20px;
}

.pin {
    margin: 0;
    width: 35px;
    position: absolute;
    transform: translate(-50%, 50%);
    top: -25px;
    left: 50%;
}
